---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-named-parameter,
  -cert-err58-cpp,
  -cppcoreguidelines-owning-memory,
  -performance-no-int-to-ptr

WarningsAsErrors: ''

HeaderFilterRegex: '.*/include/.*'

FormatStyle: file
